<div *ngIf="displayArticle">
    <div class="container">
        <h1 class="text-center"> Analize article</h1>
        <div class="row">
            <div class="col-lg-8">
                <h3>Basic</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Title</th>
                        <td>{{displayArticle.articleTitle}}</td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                        <textarea class="form-control" name="" id=""  rows="5">{{displayArticle.articleAbstract}}</textarea>
                    </tr>
                    <tr>
                        <th>Science area</th>
                        <td>Code {{displayArticle.scienceArea.scienceAreaCode}} , Name: {{displayArticle.scienceArea.scienceAreaName}}</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>{{displayArticle.author.firstName}} {{displayArticle.author.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Key terms</th>
                        <td><span *ngFor="let term of displayArticle.keyTerms" class="badge badge-primary ml-3">{{term.termName}}</span></td>
                    </tr>
                    <tr *ngIf="article">
                        <th>
                            File preview
                        </th>
                        <td>
                            <!-- <a href="{{article.file.value.toString()}}" download ></a> -->
                            <!-- <a [href]="article.file.toString()" download="proba.pdf" >Text</a>
                            <a href="#" (click)="preview()" >Text</a> -->
                            <a [href]="fileUrl" download>DownloadFile</a>
                            <!-- <iframe [src]="fileUrl" frameborder="0"></iframe>
                            <object data=""></object> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <h3>Co authors</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let coathor of displayArticle.coAuthors">
                        <td>{{coathor.firstName}}</td>
                        <td>{{coathor.lastName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <form #f="ngForm" (ngSubmit)="f.form.valid && analizeBasicSubmit(f.value, f)" novalidate>
            <div class="form-group row" >
                <div class="col-lg-4"><label for="basicDecision">Topic ok:</label></div>
                <div class="col-lg-3"><input type="checkbox" class="form-control" name="basicDecision" [(ngModel)]="isOk" #basicDecision="ngModel"
                     />
                </div>
                <div >
                    <input type="submit" class="btn btn-success form-control" value="Save decision">
                </div>

            </div>
        </form>
        <div *ngIf="article">
            <form #f="ngForm" (ngSubmit)="f.form.valid && analizeTextSubmit(f.value, f)" novalidate>
                <div class="form-group row" >
                    <div class="col-lg-4"><label for="textDecision">Text ok:</label></div>
                    <div class="col-lg-3"><input type="checkbox" class="form-control" name="textDecision" [(ngModel)]="isTextOk" #textDecision="ngModel"
                    />
                    </div>
                    
    
                </div>
                <div class="form-group row" *ngIf="!isTextOk">
                    <div class="col-lg-4"><label for="comment">Comment:</label></div>
                    <div class="col-lg-5">
                        <!-- <input type="text" class="form-control" name="abstract" [(ngModel)]="articleData.articleAbstract" #abstract="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && abstract.invalid }" required /> -->
                        <textarea rows="5" class="form-control" name="comment" [(ngModel)]="comment" #abstract="ngModel"
                        >
        
                        </textarea>
                    </div>
                </div>
            <div class="row">  
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                    <input type="submit" class="btn btn-success form-control" value="Save decision">     
                </div>
            </div>
            </form>

        </div>
        
    </div>
    
</div>