<div *ngIf="displayArticle">
    <div class="container">
        <h1 class="text-center"> Analize article</h1>
        <div class="row">
            <div class="col-lg-8">
                <h3>Basic</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Title</th>
                        <td>{{displayArticle.displayArticle.articleTitle}}</td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                        <textarea class="form-control" name="" id=""  rows="5">{{displayArticle.displayArticle.articleAbstract}}</textarea>
                    </tr>
                    <tr>
                        <th>Science area</th>
                        <td>Code {{displayArticle.displayArticle.scienceArea.scienceAreaCode}} , Name: {{displayArticle.displayArticle.scienceArea.scienceAreaName}}</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>{{displayArticle.displayArticle.author.firstName}} {{displayArticle.displayArticle.author.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Key terms</th>
                        <td><span *ngFor="let term of displayArticle.keyTerms" class="badge badge-primary ml-3">{{term.termName}}</span></td>
                    </tr>
                    <tr *ngIf="article">
                        <th>
                            File preview
                        </th>
                        <td>
                            <input type="button" (click)="download()" value="Download File"/>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <h3>Co authors</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let coathor of displayArticle.coAuthors">
                        <td>{{coathor.firstName}}</td>
                        <td>{{coathor.lastName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngIf="display">
            <form #f="ngForm" (ngSubmit)="f.form.valid && analizeBasicSubmit(f.value, f)" novalidate>
                <!-- <div class="form-group row" >
                    <div class="col-lg-4"><label for="basicDecision">Topic ok:</label></div>
                    <div class="col-lg-3"><input type="checkbox" class="form-control" name="basicDecision" [(ngModel)]="isOk" #basicDecision="ngModel"
                         />
                    </div>
                    <div >
                        <input type="submit" class="btn btn-success form-control" value="Save decision">
                    </div>
    
                </div> -->
    
                <div class="form-group row" *ngFor="let fieldWrapper of formFieldsWrapper">
                    <div class="col-lg-4"> <label for={{fieldWrapper.field.id}} class="col-lg-4">{{fieldWrapper.field.label}}</label></div>
        
                    <input class="col-lg-3 form-control" type="text" name={{fieldWrapper.field.id}}   *ngIf="fieldWrapper.field.type.name=='string'" [(ngModel)]="fieldWrapper.field.value.value">
                    <input class="col-lg-3" type="checkbox" name={{fieldWrapper.field.id}} ngModel   *ngIf="fieldWrapper.field.type.name=='boolean'" >
                    <input class="col-lg-3 form-control" type="number" name={{fieldWrapper.field.id}}  [(ngModel)]="fieldWrapper.field.value.value"  *ngIf="fieldWrapper.field.type.name=='long'" >
        
                     <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && !fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value"  >
                      <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                        {{fieldWrapper.field.type.values[val]}}
                      </option>
                    </select>
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value" multiple  size="{{fieldWrapper.dataSource.length}}">
                        <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                          {{fieldWrapper.field.type.values[val]}}
                        </option>
                      </select>
        
                    <div  *ngIf="f.submitted" class="col-lg-3 text-danger">
                        <div>{{fieldWrapper.errorField}}</div>
                    </div>
    
                    <div >
                        <input type="submit" class="btn btn-success form-control" value="Save decision">
                    </div>
                </div> 
    
    
            </form>
        </div>
        
        <div *ngIf="article">
            <form #f="ngForm" (ngSubmit)="f.form.valid && analizeTextSubmit(f.value, f)" novalidate>
                <!-- <div class="form-group row" >
                    <div class="col-lg-4"><label for="textDecision">Text ok:</label></div>
                    <div class="col-lg-3"><input type="checkbox" class="form-control" name="textDecision" [(ngModel)]="isTextOk" #textDecision="ngModel"
                    />
                    </div>
                    
    
                </div>
                <div class="form-group row" *ngIf="!isTextOk">
                    <div class="col-lg-4"><label for="comment">Comment:</label></div>
                    <div class="col-lg-5">

                        <textarea rows="5" class="form-control" name="comment" [(ngModel)]="comment" #abstract="ngModel"
                        >
        
                        </textarea>
                    </div>
                </div> -->
                <div class="form-group row" *ngFor="let fieldWrapper of formFieldsWrapper">
                    <div class="col-lg-4"> <label for={{fieldWrapper.field.id}} class="col-lg-4">{{fieldWrapper.field.label}}</label></div>
        
                    <input class="col-lg-3 form-control" type="text" name={{fieldWrapper.field.id}}   *ngIf="fieldWrapper.field.type.name=='string' && !fieldWrapper.field.properties['textarea'] && !fieldWrapper.field.properties['file']" ngModel>
            
                    <div class="col-lg-6" *ngIf="fieldWrapper.field.type.name=='string' && fieldWrapper.field.properties['textarea']">
                        <textarea rows="5" class="form-control" name={{fieldWrapper.field.id}}  ngModel 
                        >
        
                        </textarea>
                    </div>
                    
                    <input class="col-lg-3" type="checkbox" name={{fieldWrapper.field.id}} ngModel   *ngIf="fieldWrapper.field.type.name=='boolean'" >
                    <input class="col-lg-3 form-control" type="number" name={{fieldWrapper.field.id}}  [(ngModel)]="fieldWrapper.field.value.value"  *ngIf="fieldWrapper.field.type.name=='long'" >
        
                     <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && !fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value"  >
                      <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                        {{fieldWrapper.field.type.values[val]}}
                      </option>
                    </select>
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value" multiple  size="{{fieldWrapper.dataSource.length}}">
                        <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                          {{fieldWrapper.field.type.values[val]}}
                        </option>
                      </select>
        
                    <div  *ngIf="f.submitted" class="col-lg-3 text-danger">
                        <div>{{fieldWrapper.errorField}}</div>
                    </div>
    
                    
                </div>
                

                <div class="row">
                    <div class="col-lg-3">
          
                    </div>
                    <div class="col-lg-3">
                      <input type="submit" class="btn btn-success form-control" value="Save decision">
                    </div>
                  </div>
            </form>

        </div>
        
    </div>
    
</div>