<div class="container">
    <div class="row">
        <div class="col-lg-4 themed-grid-col  mt-3" style="border:2px solid red;  ">
            <div class="container">
                <div class="list-group">                   
                    <a (click)="viewEditions()"  class="list-group-item list-group-item-action" >View editions</a>
                    <a (click)="subscribe()"  class="list-group-item list-group-item-info" *ngIf="isLogged">Subscribe</a>
                    <a (click)="newText()"  class="list-group-item list-group-item-info" *ngIf="isLogged">Post text</a>
                  </div>
            </div>
      </div>
      <div *ngIf="magazine" class="col-lg-8">
        <table class="table table-bordered mt-3">
            <thead>
          
            </thead>
            <tbody>
              <tr>
                <th>Magazine id</th>
                <td>{{magazine.magazineId}}</td>
              </tr>
              <tr class="info">
                <th>Magazine name</th>
                <td>{{magazine.name}}</td>
              </tr>
              <tr class="info">
                <th>Magazine issn</th>
                <td>{{magazine.issn}}</td>
              </tr>
              <tr class="info">
                <th>Payment type</th>
                <td>{{magazine.payment}}</td>
              </tr>
              <tr>
                <th>Magazine science areas</th>
                <b><table>
                    <tr *ngFor="let scArea of magazine.scienceAreas">
                        <td>{{scArea.scienceAreaCode}}</td>
                        <td>{{scArea.scienceAreaName}}</td>
                    </tr>
                </table></b>
              </tr>
              
                                                       
            </tbody>
          </table>  
      </div>

    </div>


    <div class="row">
      <div  *ngIf="editions">
        <h2 class="text-center">View editions</h2>
        <div *ngFor="let edition of editions">
          <div class="row oneFlight">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-2">
                  <p><b>Edition id</b></p>       
                </div>
                <div class="col-lg-4">
                  <p><b>Edition title</b></p>
                </div>
                <div class="col-lg-2">
                  <p><b>Edition publishing date</b></p>
                </div>
                <div class="col-lg-4">
                  <p><b>Edition  price:</b></p>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-2">
                      <p><b>{{edition.magazineEditionId}}</b></p>
                    </div>
                <div class="col-lg-4">
                  <p><b>{{edition.title}}</b></p>
                </div>
                <div class="col-lg-2">
                  <p><b>{{edition.publishingDate | date}}</b></p>
                </div>
                <div class="col-lg-4"  style="font-size: 17px">
                  <p><b>{{edition.magazineEditionPrice}}</b></p>
                </div>
    
              </div>
            </div>
            <div class="col-lg-2 priceDiv">
              <div style="text-align: center">
                <button type="submit" class="btn btn-primary btn-block detail" (click)="displayEdition(magazine.magazineId)">
                  Detail
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
</div>
