<div class="jumbotron">
    <div class="container">
        <form #f="ngForm" (ngSubmit)="postResult(f.value, f)" novalidate>
            <h2>Define time deadline for reaving</h2>
            <div class="form-group row" *ngFor="let fieldWrapper of formFieldsWrapper">
                <div class="col-lg-4"> <label for={{fieldWrapper.field.id}} class="col-lg-4">{{fieldWrapper.field.label}}</label></div>
    
                <input class="col-lg-3 form-control" type="text" name={{fieldWrapper.field.id}}   *ngIf="fieldWrapper.field.type.name=='string'" [(ngModel)]="fieldWrapper.field.value.value">
                <input class="col-lg-3" type="checkbox" name={{fieldWrapper.field.id}} ngModel   *ngIf="fieldWrapper.field.type.name=='boolean'" >
                <input class="col-lg-3 form-control" type="number" name={{fieldWrapper.field.id}}  [(ngModel)]="fieldWrapper.field.value.value"  *ngIf="fieldWrapper.field.type.name=='long'" >
    
                 <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && !fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value"  >
                  <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                    {{fieldWrapper.field.type.values[val]}}
                  </option>
                </select>
    
                <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value" multiple  size="{{fieldWrapper.dataSource.length}}">
                    <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                      {{fieldWrapper.field.type.values[val]}}
                    </option>
                  </select>
    
                <div  *ngIf="f.submitted" class="col-lg-3 text-danger">
                    <div>{{fieldWrapper.errorField}}</div>
                </div>
            </div>    
            
    
            <div class="row">
              <div class="col-lg-3">
    
              </div>
              <div class="col-lg-3">
                <input type="submit" class="btn btn-success form-control" value="Sign Up">
              </div>
            </div>
        </form>
    </div>
</div>
