<ul class="nav nav-pills nav-fill">
    <li class="nav-item"  [class.active]="activeTab === 'updateForm'">
      <a class="nav-link" (click)="activeTab = 'updateForm'">Update article</a>
    </li>
    <li class="nav-item" [class.active]="activeTab === 'comments'">
      <a class="nav-link" (click)="activeTab = 'comments'">View comments</a>
    </li>
</ul>

<div [ngSwitch]="activeTab">
    <div *ngSwitchCase="'updateForm'">
        <!-- FORMA ZA DODAVANJE UPDATE-->
        <div class="jumbotron">   
            <div class="container">  
              <h1 class="text-center">Update article</h1>
              <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value, f)" novalidate>
                <div class="form-group row" *ngFor="let fieldWrapper of formFieldsWrapper">
                    <div class="col-lg-5"> <label for={{fieldWrapper.field.id}} class="col-lg-4">{{fieldWrapper.field.label}}</label></div>
        
                    <input class="col-lg-3 form-control" type="text" name={{fieldWrapper.field.id}}   *ngIf="fieldWrapper.field.type.name=='string' && !fieldWrapper.field.properties['textarea'] && !fieldWrapper.field.properties['file']" ngModel>
                    
                    <div class="col-lg-6" *ngIf="fieldWrapper.field.type.name=='string' && fieldWrapper.field.properties['textarea']">
                        <textarea rows="5" class="form-control" name={{fieldWrapper.field.id}}  ngModel 
                        >
        
                        </textarea>
                    </div>
                    
                    
                    <input class="col-lg-3" type="checkbox" name={{fieldWrapper.field.id}} ngModel   *ngIf="fieldWrapper.field.type.name=='boolean'" >
                    
                    <input class="col-lg-3 form-control" type="number" name={{fieldWrapper.field.id}}  [(ngModel)]="fieldWrapper.field.value.value"  *ngIf="fieldWrapper.field.type.name=='long'" >
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && !fieldWrapper.field.properties['multiple']" ngModel >
                      <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                        {{fieldWrapper.field.type.values[val]}}
                      </option>
                    </select>
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && fieldWrapper.field.properties['multiple']" ngModel multiple  size="{{fieldWrapper.dataSource.length}}">
                        <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                          {{fieldWrapper.field.type.values[val]}}
                        </option>
                    </select>
        
                    <div class="col-lg-3" *ngIf="fieldWrapper.field.properties['file']">
                        <input type="file" class="form-control-file"  name="{{fieldWrapper.field.id}}" [(ngModel)]="articleData.fileName"  
                        
                        (change)="onFileUpload($event)"/>
                    </div>
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='multiEnum' " ngModel multiple  size="{{fieldWrapper.dataSource.length}}">
                        <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                          {{fieldWrapper.field.type.values[val]}}
                        </option>
                    </select>
        
                    <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='multiEnumCoAuthor' " ngModel multiple  size="{{fieldWrapper.dataSource.length}}">
                        <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                          {{fieldWrapper.field.type.values[val]}}
                        </option>
                    </select>
        
                    <div  *ngIf="f.submitted" class="col-lg-3 text-danger">
                        <div>{{fieldWrapper.errorField}}</div>
                    </div>
                </div>
        
                <div class="form-group row" >
                    <div class="col-lg-4"><label for="articleText">Upload text:</label></div>
                    <div class="col-lg-5">
                        <input type="file" class="form-control-file"  name="articleText" [(ngModel)]="articleData.fileName"  #articleText="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && articleText.invalid }" required 
                        (change)="onFileUpload($event)"
                        /></div>
                    <div  *ngIf="f.submitted && articleText.invalid" class="col-lg-3 text-danger">
                        <div *ngIf="articleText.errors.required">File is required</div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-6">
          
                    </div>
                    <div class="col-lg-3">
                      <input type="submit" class="btn btn-success form-control" value="Add article">
                    </div>
                </div>
        
                
        
               </form>
                            

            

            
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'comments'">
      <!-- PRIKAZ KOMENTARA -->
      <div class="jumbotron">
            <div class="container">
                <h1 class="text-center"> Review article</h1>
                <div class="row">
                    <div class="col-lg-4 list-group">
                        <h3>Reviewers' opinions</h3>
                        <a *ngFor="let opinion of update.reviewersOpinion" (click)="displayEditorReview = false; opinionToDisplay = opinion;"  class="list-group-item list-group-item-action" >{{opinion.personOpinionId}}' opinion, iteration {{opinion.iteration}}</a>
                        <h3>Editors' opinions</h3>
                        <a *ngFor="let opinion of update.editorsOpinion" (click)="displayEditorReview = false; opinionToDisplay = opinion;"  class="list-group-item list-group-item-action" >{{opinion.personOpinionId}}' opinion, iteration {{opinion.iteration}}</a>
                    </div>
                    <div class="col-lg-8">
                        <div >
                            <table class="table table-bordered">
                                <tr>
                                    <th>Reviewer id:</th>
                                    <td>{{opinionToDisplay?.personOpinionId}}</td>
                                </tr>
                                <tr>
                                    <th>Iteration num:</th>
                                    <td>{{opinionToDisplay?.iteration}}</td>
                                </tr>
                                <tr>
                                    <th>Decision:</th>
                                    <td>{{opinionToDisplay?.opinion}}</td>
                                </tr>
                                <tr>
                                    <th>Comment:</th>
                                    <td>
                                        <textarea rows="3" class="form-control" name="comment" 
                                        >{{opinionToDisplay?.comment}}
                                        </textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>  
                
                
                
                    </div>
                </div>
            </div>  
       </div> 
    </div>
    
    

    
    
</div>






