<div class="jumbotron" *ngIf="flag1">
    <h2 class="text-center">Update magazine</h2>
    <div class="container">
        <div *ngIf="formFieldsDto?.commentIfExist !== ''" style="border: 1px solid blue;">
            <h3 class="text-center">Update magazine comment from admin</h3>
            <div class="form-group row" >
                <div class="col-lg-4">
                    <label for="comment">Comment from editor:</label>
                </div>
                    <div class="col-lg-5">
                        <textarea rows="3" class="form-control" name="comment" >{{ formFieldsDto?.commentIfExist }}
                        </textarea>
                    </div>
                </div>
        </div>
        
      <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value, f)" novalidate>
        <div class="form-group row" *ngFor="let fieldWrapper of formFieldsWrapper">
            <div class="col-lg-4"> <label for={{fieldWrapper.field.id}} class="col-lg-4">{{fieldWrapper.field.label}}</label></div>

            <input class="col-lg-3 form-control" type="text" name={{fieldWrapper.field.id}}   *ngIf="fieldWrapper.field.type.name=='string'" [(ngModel)]="fieldWrapper.field.value.value">
            <input class="col-lg-3" type="checkbox" name={{fieldWrapper.field.id}} ngModel   *ngIf="fieldWrapper.field.type.name=='boolean'" >
            <input class="col-lg-3 form-control" type="number" name={{fieldWrapper.field.id}}  [(ngModel)]="fieldWrapper.field.value.value"  *ngIf="fieldWrapper.field.type.name=='long'" >

             <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && !fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value"  >
              <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                {{fieldWrapper.field.type.values[val]}}
              </option>
            </select>

            <select class="col-lg-3 form-control" name="{{fieldWrapper.field.id}}" *ngIf="fieldWrapper.field.type.name=='enum' && fieldWrapper.field.properties['multiple']" [(ngModel)]="fieldWrapper.field.value.value" multiple  size="{{fieldWrapper.dataSource.length}}">
                <option *ngFor="let val of fieldWrapper.dataSource" value={{val}}>
                  {{fieldWrapper.field.type.values[val]}}
                </option>
              </select>

            <div  *ngIf="f.submitted" class="col-lg-3 text-danger">
                <div>{{fieldWrapper.errorField}}</div>
            </div>
        </div>    
        

        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-3">
            <input type="submit" class="btn btn-success form-control" value="Sign Up">
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="jumbotron" *ngIf="flag2">
    <h2 class="text-center">Add aditional data</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                Science area:
            </div>
            <div class="col-lg-3">
                Editors:
            </div>
            <div class="col-lg-3">
                Reviewers:
            </div>
        </div>
        <div class="row" *ngFor="let scArea of formFieldsEditor.scienceAreas; index as i;">
            <div class="col-lg-3">
                <p>{{scArea.scienceAreaCode}}:  {{scArea.scienceAreaName}}</p>
            </div>
            <div class="col-lg-3">
                <select class="form-control" name="editors" [(ngModel)]="formDataEditorsReviewers.rows[i].editorsId" 
                 
                  size="{{formFieldsEditor?.editors.length}}">
                    <option *ngFor="let val of formFieldsEditor.editors" value={{val.id}}>
                      {{val.name}}
                    </option>
                </select>
                
            </div>
            <div class="col-lg-3">
                <select class="form-control" name="reviewers" [(ngModel)]="formDataEditorsReviewers.rows[i].reviewersId" 
                 
                multiple  size="{{formFieldsEditor?.reviewers.length}}">
                    <option *ngFor="let val of formFieldsEditor.reviewers" value={{val.id}}>
                      {{val.name}}
                    </option>
                </select>
            </div>    
        </div>
        <div class="row">
            <div class="col-lg-3"><button class="btn btn-success form-control" (click)="submitReviewersEditors()">Add</button>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!-- <input type="submit" class="btn btn-success form-control" value="Add"> -->
    </div>
  </div>

